{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    {% if HISTORY is defined %}

    <p>wellcome <b>{{ session.name }}</b></p>

    <div class="table-responsive-sm">
        <table class="table caption-top table-hover table-bordered table-sm">
            <caption>history</caption>
            <thead>
                <tr>
                    <th >id</th>
                    <th >user_id</th>
                    <th>symbol</th>
                    <th>shares</th>
                    <th>price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>

            {% for i in HISTORY %}
                {% if i.shares < 0 %}
                <tr>
                    <td>{{ i.transacted }}</td>
                    <td>{{ i.user_id }}</td>
                    <td>{{ i.symbol }}</td>
                    <td>{{ i.shares }}</td>
                    <td>{{ i.price }}</td>
                    <td>{{ "%.2f"|format(i.shares * i.price ) }}</td>
                    
                    {# class="table-success"
                    class="table-secondary"
                    #}

                </tr>
                
                {% elif i.symbol == "wallet_cash" %}
                <tr>
                    <td class="table-success">{{ i.transacted }}</td>
                    <td class="table-success">{{ i.user_id }}</td>
                    <td class="table-success">{{ i.symbol }}</td>
                    <td class="table-success">{{ i.shares }}</td>
                    <td class="table-success">{{ i.price }}</td>
                    <td class="table-success">{{ "%.2f"|format(i.shares * i.price ) }}</td>
                </tr>
                {% else %}
                <tr>
                    <td class="table-info">{{ i.transacted }}</td>
                    <td class="table-info">{{ i.user_id }}</td>
                    <td class="table-info">{{ i.symbol }}</td>
                    <td class="table-info">{{ i.shares }}</td>
                    <td class="table-info">{{ i.price }}</td>
                    <td class="table-info">{{ "%.2f"|format(i.shares * i.price ) }}</td>
                </tr>
                {% endif %}

            {% endfor %}


        </table>
    </div>
    {% else %}
        <h5>History</h5>
    {% endif %}

{% endblock %}